header {
    background-color: black;
    height: 100px;
}

header ul {
    display: inline-flex;
    align-items: flex-end;
    justify-content: space-between ;
}



header ul li a {
    text-decoration: none;
    color: red;
    padding: 50px;
}

.img{
    width: 100%;
    object-fit: contain;
}

.imagemanimada{
    position: relative;
    animation: imagemAnimada 5s infinite;
    
}

@keyframes imagemAnimada{
 0% {top: 50px;}
 40% {top: 50px;}
 80% {top: 100px;}
 100% {top: 150px;}
}

